{
  parser: "babel-eslint",
  "rules": {
    "function-paren-newline": "off",
    "global-require": "off",
    "max-len": [1, 120, 2, {ignoreComments: true}],
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}